.blog-details-section {
    padding: 110px 0px;
    .container {
        max-width: 1320px;
        margin: 0 auto;

        .row > * {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    .blog-details-area {
        .blog-post-items {
            margin-right: auto;
            .blog-details-wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                article {
                    width: 867px;
                    .postbox_thumb {
                        width: 100%;
                        max-height: 414px;
                        border-radius: 20px;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
        
                    .postbox__text {
                        .post-meta {
                            display: flex;
                            align-items: center;
                            padding: 38px 0 16px 0;
            
                            img {
                                width: 26px;
                                height: 26px;
                            }
                            span {
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 24px;
                                line-height: 29px;
                                text-transform: capitalize;
                                color: #6D6E71;
                            }
                        }
    
                        .post-text {
                            h3 {
                                font-family: 'Inter';
                                font-style: normal;
                                font-size: 28px;
                                line-height: 38px;
                                font-weight: bold;
                                text-transform: capitalize;
                                color: #000000;
                                margin: 40px 0px 12px 0px;
            
                                &:first-child {
                                    margin-top: 0px;
                                }
                            }
    
                            p {
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 26px;
                                text-transform: capitalize;
                                color: #6D6E71;
            
                                span {
                                    color: #EA1C2D;
                                }
                            }
                        }
    
    
                        .blog-extra {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin: 60px 0px 110px 0px;
                            .blog-post-tag {
                                p {
                                    font-family: 'Inter';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 28px;
                                    text-transform: capitalize;
                                    color: #6D6E71;
                
                                    b {
                                        font-weight: 600;
                                        color: #000000;
                                    }
                                }
                            }
    
                            .social-share {
                                ul {
                                    max-width: 315px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    li {
                                        font-family: 'Inter';
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 16px;
                                        line-height: 29px;
                                        text-transform: capitalize;
                                        color: #000000;
                                        a {
                                            display: block;
                                            color: #6D6E71;
                                            font-weight: 400;
                                            margin: 0 15px;
                                        }
                                    }
                                }
                            }
                        } 
                    }
                }
                
    
                //  Comment Section:
                .blog-comment {
                    margin-bottom: 110px;
                    p {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 34px;
                        text-transform: capitalize;
                        color: #000000;
                    }
    
                    .comment-one {
                        @include blogComments(868px);
                    }
    
                    .comment-two {
                        @include blogComments(696px);
                        margin-left: auto;
                    }
                }
    
                .post-comment-wrapper {
                    h3 {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 34px;
                        text-transform: capitalize;
                        color: #000000;
                    }
                    p {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 26px;
                        color: #6D6E71;
                        padding: 16px 0 20px 0;
                    }
    
                    form {
                        .name-email .username h4,
                        .name-email .user-email h4,
                        .website-input h4,
                        .your-comment h4 {
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 26px;
                            text-transform: capitalize;
                            color: #6D6E71;
                            margin-bottom: 6px;
                        }
    
                        .name-email .username input,
                        .name-email .user-email input,
                        .website-input input {
                            width: 100%;
                            height: 62px;
                            background: #F1F1F1;
                            border-radius: 8px;
                            border: none;
                            font-size: 16px;
                            line-height: 26px;
                            padding-left: 15px;
                        }
    
                        .name-email {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            margin: 16px 0 16px 0;
                            .username {
                                width: 48%;
                                
                            }
                            .user-email {
                                width: 48%;
                            }
                        }
                        .website-input {
                            width: 100%;
                            margin-top: 20px;
                        }
    
                        .your-comment {
                            width: 100%;
                            margin-top: 20px;
    
                            textarea {
                                width: 100%;
                                resize: none;
                                height: 162px;
                                background: #F1F1F1;
                                border-radius: 8px;
                                border: none;
                                padding: 10px;
                            }
                        }
                        .save-info {
                            width: 100%;
                            margin: 16px 0 30px 0;
                            display: flex;
                            align-items: center;
                            span {
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 22px;
                                color: #6D6E71;
                                margin-left: 8px;
                            }
                            input {
                                width: 28px;
                                height: 28px;
                                border: 1.5px solid #CCCCCC;
                            }
                        }
                        button {
                            max-width: 192px;
                            height: 62px;
                            padding: 14px 16px;
                            font-size: 16px;
                            color: #fff;
                        }
                    }
                }
            }  
        }
    
        .sidebar-blog {
            width: 415px;
            height: auto;
    
            .search-bar {
                width: 100%;
                height: 62px;
                position: relative;
                input {
                    width: 100%;
                    height: 100%;
                    background: #F2F2F2;
                    border-radius: 10px;
                    padding-left: 20px;
                    outline: none;
                    border: none;
                    font-size: 16px;
                    line-height: 26px;
                    &::placeholder {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 28px;
                        text-transform: capitalize;
                        color: #6D6E71;
                    }
                }
                img {
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
    
            h3 {
                margin: 40px 0 20px 0;
            }
    
            .news-wrapper {
                .news {
                    max-width: 100%;
                    height: 120px;
                    margin: 20px 0 20px 0;
                    background: #FFFFFF;
                    border: 1px solid #CCCCCC;
                    border-radius: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
    
                    .news-img {
                        min-width: 108px;
                        height: 103px;
                        margin: 8px 18px 8px 8px;
                        border-radius: 8px;
    
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .news-content {
                        h4 {
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                            text-transform: capitalize;
                            color: #6D6E71;
                        }
                        p {
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 28px;
                            text-transform: capitalize;
                            color: #000000;
                        }
                    }
                }
            }
        }
    }
}