.contact-us-section {
    .container {
        max-width: 1262px;
        margin: 0 auto;
        padding: 110px 15px;
    } 

    .contact-us-wrapper {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;

        .contact-us-img {
            max-width: 548px;
            max-height: 582px;
            img {
                height: 100%;
                width: 100%;
            }
        }
    
        .contact-us-form {
            max-width: 610px;
            height: auto;
            margin-left: auto;
    
            h2 {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 38px;
                text-transform: capitalize;
                color: #000000;
            }
    
            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                color: #6D6E71;
                margin: 20px 0px 30px 0px;
            }
    
            form {
                .user-name .first-name h3,
                .user-name .last-name h3,
                .email-address h3,
                .phone-number h3,
                .message h3,
                .recaptcha h3 {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    text-transform: capitalize;
                    color: #000000;
                    margin-bottom: 5px;
                }
    
                .user-name .first-name input,
                .user-name .last-name input,
                .email-address input,
                .phone-number input {
                    width: 100%;
                    height: 62px;
                    background: #F1F1F1;
                    border-radius: 8px;
                    border: none;
                    padding-left: 12px;
                    font-size: 20px;
                    outline: none;
                    margin-bottom: 15px;
                }
    
    
                .user-name {
                    width: 100%;
                    display: flex;
                    .first-name {
                        width: 46%;
                        margin-right: 4%;
                    }
    
                    .last-name {
                        width: 46%;
                        margin-left: 4%;
                    }
                }
    
                .message {
                    textarea {
                        width: 100%;
                        height: 162px;
                        background: #F1F1F1;
                        border-radius: 8px;
                        border: none;
                        outline: none;
                        resize: none;
                        padding-left: 12px;
                        font-size: 20px;
                        margin-bottom: 20px;
                    }
                }
    
                .recaptcha {
                    width: 52%;
                    height: 62px;
                    display: flex;
                    align-items: center;
                    background: #F1F1F1;
                    border-radius: 8px;
                    margin-bottom: 30px;
                    padding: 24px 22px;
    
                    input {
                        width: 35px;
                        height: 35px;
                        margin-right: 12px;
                        background: #FFFFFF;
                        border: 1.5px solid #CCCCCC;
                    }
    
                    img {
                        width: 48px;
                        height: 55px;
                        margin-left: auto;
                    }
                }
            }
        }
    }
}