.discount-faq-wrapper {
    .faq-head {
        .discount-faq-icon {
            width: 24px;
            height: 14px;
            color: #6D6E71;
            font-size: 18px;
        }
    }
    .faq-body {
        max-width: 1176px;
        small {
            width: 100%;
            display: flex;
            align-items: center;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            color: #6D6E71;
            h6 {
                padding-left: 4px;
                padding-top: 4px;
                color: #EA1C2D;
            }
        }
    }
}