footer {
    width: 100%;
    background-color: #F4F4F4;;
    max-height: 703px;
    padding-top: 160px;
    position: relative;

    .logo {
        width: 203px;
        height: 38px;
    }
    
    .footer-wrapper {
        .list-title {
            @include listTitle;
        }

        @include LinkListStyle;

        .footer-link-wrapper-one {
            display: flex;
            justify-content: space-between;
        }

        
        .footer-link-wrapper-two {
            display: flex;
            justify-content: space-between;
            .footer-three {
                margin: 0 auto;
            }
        }

        .footer-one {
            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #6D6E71;
                margin: 55px 0 30px 0px;
            } 

            .input-wrapper {
                width: 280px;
                height: 46px;
                background-color: #fff;
                border-radius: 25px;
                border: none;
                position: relative;

                input {
                    display: block;
                    border: none;
                    width: 280px;
                    height: 46px;
                    padding-left: 15px;
                    border-radius: 25px;
                    ::placeholder {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: #969696;
                    }
                }

                div {
                    display: block;
                    background: #EA1C2D;
                    width: 38px;
                    height: 38px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    border-radius: 50%;
                    position: absolute;
                    right: 2%;
                    top: 9%;
                }
            }

            ul {
                list-style: none;
                display: flex;
                li {
                    margin: 50px 40px 10px 0px;
                    a {
                        color: #6D6E71;
                        i {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }

    .copyright {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        margin: 70px auto 0 auto;
        text-align: center;
        padding: 30px 0px;
        border-top: 1px solid #CCCCCC;

        .copy-left {
            width: 100%;
            display: block;
            p{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #6D6E71;
                text-align: left;
            }
        }

        .copy-right {
            width: 100%;
            display: block;
            .copyright-links {
                float: right;
                display: flex;
                li {
                    a {
                        color: #6D6E71;
                    }
                    span {
                        margin: 0 20px;
                    }
                }
            }
        }
    }
}