.professional-banner-section {
    .container-fluid {
        margin: 0;
        padding: 0;
        .row {
            --bs-gutter-x: 0;
        }
    }

    .container {
        max-width: 1320px;
        margin: 0 auto;
    }


    .professional-banner-title {
        width: 100%;
        max-width: 585px;
        margin: 110px auto 50px auto;
        h1 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 50px;
            line-height: 60px;
            text-align: center;
            text-transform: capitalize;
            color: #000000;
            margin-bottom: 20px;
        }
        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #6D6E71;
            text-align: center;
        }
    }

    .professional-banner-top {
        width: 100%;
        height: 400px;
        background: url('../../images/Inner/Professional/banner/banner-bg.svg');
        background-repeat: no-repeat;
        background-position: top center;
        position: relative;
        margin: 75px 0 0 0;

        .top-wrapper {
            .banner-left-img {
                max-width: 278px;
                max-height: 278px;
                position: absolute;
                left: 12%;
                top: 12%;
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
    
            .banner-middle-img {
                max-width: 394px;
                max-height: 394px;
                position: absolute;
                left: 50%;
                top: 5%;
                transform: translateX(-50%);
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
    
            .banner-right-img {
                max-width: 278px;
                max-height: 278px;
                position: absolute;
                right: 12%;
                top: 12%;
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }

    .professional-banner-middle {
        margin: 190px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .middle-left-img {
            max-width: 572px;
            max-height: 587px;
            position: relative;
            .left-img-one {
                max-width: 508px;
                max-height: 507px;
            }
            .left-img-two {
                max-width: 293px;
                max-height: 294px;
                position: absolute;
                right: -5%;
                top: -5%;
                z-index: 1;
            }
        }
        .middle-content {
            max-width: 700px;
            h2 {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 50px;
                line-height: 60px;
                text-transform: capitalize;
                color: #000000;
                margin-bottom: 15px;
            }
            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #6D6E71;
            }
        }
    }

    .professional-banner-bottom {
        margin: 0 auto 190px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .bottom-left-img {
            max-width: 572px;
            max-height: 587px;
            position: relative;
            .bottom-left-img-one {
                max-width: 508px;
                max-height: 507px;
                margin-left: auto;
            }
            .bottom-left-img-two {
                max-width: 293px;
                max-height: 294px;
                position: absolute;
                left: -10%;
                bottom: -10%;
                z-index: 1;
            }
        }
        .bottom-content {
            max-width: 700px;
            h2 {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 50px;
                line-height: 60px;
                text-transform: capitalize;
                color: #000000;
                margin-bottom: 25px;
            }
            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #6D6E71;
            }
        }
    }
}