.have-question-section {
    width: 100%;
    margin: 110px 0px;

    .container-fluid {
        padding: 0px;
    }

    .have-question-wrapper {
        width: 100%;
        .have-question-left {
            width: 1290px;
            height: 532px;
            position: relative;
            background: #F4F4F4;
    
            .have-question-left-wrapper {
                max-width: 720px;
                height: 100%;
                margin: 0 10%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
    
                h2 {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 50px;
                    line-height: 60px;
                    text-transform: capitalize;
                    color: #000000;
                }
                p{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 27px;
                    color: #6D6E71;
                    margin: 30px 0px 45px 0px;
                }
                a {
                    margin-right: auto;
                    font-size: 16px;
                    line-height: 26px;
                }
            }

            .have-question-img {
                position: absolute;
                right: -15%;
                top: -20%;
            }
        }
    }

    
}