.privacy-policy-section {
    padding: 110px 0px;
    max-width: 950px;
    margin: 0 auto;
    .privacy-title {
        border-bottom: 1px solid #CCCCCC;;
        h2 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            text-transform: capitalize;
            color: #000000;
        }

        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            padding: 15px 0px 30px;
            text-transform: capitalize;
            color: #6D6E71;
        }
    }

    .privacy-top {
        padding: 20px 0px;
        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #6D6E71;
            padding: 21px 0px;
        }
    }

    .privacy-body {
        .privacy-sub-title {
            margin-top: 50px;
            h3 {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 39px;
                text-transform: capitalize;
                color: #000000;
            }

            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #6D6E71;
                padding: 15px 0px 0px 0px;
                span {
                    text-transform: capitalize;
                    color: #EA1C2D;
                }
            }
        }

        ul {
            list-style: disc;
            li {
                list-style: disc;
                list-style-position: inside;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #6D6E71;
                padding: 16px 0px;
            }
        }
        p {
            list-style: disc;
            list-style-position: inside;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #6D6E71;
            padding: 16px 0px;
        }
    }
}