.professional-offer-section {
    background: #F4F4F4;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 140px 0px;
    .professional-offer-context {
        max-width: 630px;
        h2 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 50px;
            line-height: 60px;
            text-transform: capitalize;
            color: #000000;
            margin-bottom: 40px;
        }

        ul li {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            text-transform: capitalize;
            color: #333333;
            background: #fff;
            padding: 3px 20px 3px 0px;
            margin: 17px 0px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-radius: 10px;

            img {
                width: 48px;
                height: 48px;
                display: block;
                margin: 16px;
            }
        }
        a {
            display: flex;
            justify-content: center;
            margin: 30px 0px;
            max-width: 190px;
            white-space: nowrap;
            font-size: 16px;
        }
    }

    .offer-img-wrapper {
        max-width: 640px;
        max-height: 712px;
        position: relative;
        top: 10%;
        .offer-bottom-img {
            max-width: 500px;
            max-height: 535px;
            margin-left: 50px;
        }
        .offer-top-img {
            max-width: 330px;
            max-height: 330px;
            position: absolute;
            right: -8%;
            bottom: -32%;
            z-index: 1;
        }
    }
}