.scholarship-section {
    ul {
        margin: 110px 30px;
        max-width: 700px;
        margin: 110px 15%;
        li {
            position: relative;
            display: flex;
            padding-left: 13px;
            margin: 20px 0px;
            a {
                display: block;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 32px;
                text-decoration-line: underline;
                text-transform: capitalize;
                color: #6D6E71;
                text-decoration: none;
                padding: 0px 10px;
                transition: all 0.8s ease;

                &:hover {
                    color: #EA1C2D;
                    text-decoration: underline;
                }
            }

            &::before {
                content: "";
                width: 12px;
                height: 12px;
                background: #6D6E71;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 25%;
            }
        }
    }
}