@media screen and (min-width: 320px) and (max-width: 768px) {
    .terms-and-condition-section {
        .privacy-title {
            p {
                font-size: 15px;
                line-height: 30px;
                padding: 10px 0px 0px 0px;
                text-align: left;
            }
            border-bottom: none;
        }
    }
}